<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.example.zhangruirui.lifetips">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.SEND_SMS" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.VIBRATE" />

  <application
    android:allowBackup="true"
    android:icon="@mipmap/launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup">
    <activity
      android:name=".MainActivity"
      android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".HelpActivity" />
    <activity android:name=".WelcomeActivity" />
    <activity android:name=".LoginActivity" />
    <activity android:name=".LightIntensityActivity" />
    <activity android:name=".NetworkTimeActivity" />
    <activity android:name=".SMSActivity" />
    <activity android:name=".SetActivity" />
    <activity android:name=".CalculatorActivity" />
    <activity
      android:name=".bmi.BMIActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    <activity
      android:name=".bmi.ResultActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    <activity android:name=".compass.CompassActivity" />
    <activity android:name=".music.MusicActivity" />

    <service android:name=".music.PlayService" />

    <activity android:name=".remind.RemindActivity" />

    <service
      android:name=".remind.AlarmService"
      android:enabled="true"
      android:exported="true"
      android:process="system"
      tools:ignore="ExportedService" />

    <activity android:name=".notes.TimeDiaryActivity" />
    <activity android:name=".notes.WriteActivity" />
    <activity android:name=".notes.EditActivity" />
    <activity android:name=".BaseActivity" />
    <activity
      android:name=".notebook.activity.NotebookActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

    <provider
      android:name=".notebook.db.NoteProvider"
      android:authorities="com.terry.NoteBook"
      android:exported="false" />

    <activity
      android:name=".notebook.activity.NoteDetailActivity"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    <activity android:name=".leetcode.activity.LeetcodeActivity" />
    <activity android:name=".leetcode.activity.ProblemDetailActivity" />
    <activity android:name=".demo_learning.lifecycle.LifeCycleMainActivity" />
    <activity android:name=".demo_learning.lifecycle.LifeCycle2Activity" />
    <activity android:name=".demo_learning.lifecycle.LifeCycle3Activity" />
    <activity android:name=".demo_learning.launchmode.BasicActivity" />
    <activity
      android:name=".demo_learning.launchmode.ActivityStandard"
      android:launchMode="standard" />
    <activity android:name=".demo_learning.rxjava.RxActivity" />
    <activity android:name=".SplashActivity" />
    <activity android:name=".demo_learning.HandlerDemoActivity" />
    <activity android:name=".demo_learning.coordinatorlayout.Coordinator1stActivity" />
    <activity android:name=".demo_learning.coordinatorlayout.ViewActivity" />
    <activity android:name=".demo_learning.coordinatorlayout.Coordinator2ndActivity" />
    <activity android:name=".demo_learning.coordinatorlayout.Coordinator3rdActivity" />
    <activity android:name=".demo_learning.coordinatorlayout.Coordinator4thActivity" />

    <meta-data
      android:value="5c11f976b465f58cfc00024d"
      android:name="UMENG_APPKEY" />
    <meta-data
      android:value="Wandoujia"
      android:name="UMENG_CHANNEL" />
  </application>

</manifest>